@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f2ebe1;
  font-family: "Architects Daughter", cursive;
}

/* ---- H1 ---- */
h1 {
  color: #000;
  border: 2px solid #000;
  border-radius: 16px;
  padding: 16px 32px;
  width: fit-content;
  margin: 24px auto;
  text-align: center;
  font-size: 2.5rem;
}

/* ---- Net Balance ---- */
h1 + h2 {
  text-align: center;
  color: #38d9a9;
  margin-bottom: 4px;
}

h1 + h2 + span {
  display: block;
  text-align: center;
  color: #38d9a9;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 24px;
}


/* Common List */

.add-item-form {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 8px 4px 16px;
  margin-bottom: 8px;
}