@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Exo 2", sans-serif;
}

.body-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 40px;
  background-color: #F5F5F5;
}

/* ---- H1 ---- */
h1 {
  color: #C49A45;
  border-radius: 16px;
  text-align: flex-start;
  font-size: 2rem;
  font-weight: 500;
}

/* ---- Net Balance ---- */
.second-row h2 {
  text-align: center;
  color: #111;
  margin-bottom: 4px;
}



h2 {
  font-size: 3rem;
  margin: 0;
}



/**/

.second-row,
.first-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 6%;
}

.first-row {
  margin: 1.5% 0;
}